---
layout: "default"
---
<section class="hero-section">
<div class="hero-grid">
<div class="hero-content">
{% if site.name %}
<p class="hero-title">{{ site.name }}</p>
{% endif %}
{% if site.work %}
<p class="hero-title2">{{ site.work }}</p>
{% endif %}
{% if site.social-media.enabled == "true" %}
<div class="social-media">
{% include social-media.html %}
{% endif %}
</div>
</div>
</div>
</section>
<section class="work-section">
<div class="section-title">
{% if site.section %}
<p>{{ site.section }}</p>
{% endif %}
</div>
<section class="wrapper">
<div class="work-grid">
{% include cards.html %}
</div>
{% if site.form.enabled == "true" %}
{% include form.html %}
{% endif %}
</section>
