---
layout: "default"
---

<section class="hero-section">
 <div class="hero-grid">
  <div class="hero-content">
   {% if site.name %}
   <p class="hero-title">{{ site.name }}</p>
   {% endif %} {% if site.work %}
   <p class="hero-title2">{{ site.work }}</p>
   {% if site.section %}
   <div class="buttons" style="margin-bottom: 30px">
    <a href="#{{ site.section }}" class="link-button no-fade">Projects</a>
    <a class="link-button link-button-disabled" title="Soon!">Resume</a>
   </div>
   {% endif %} {% endif %} {% if site.social-media.enabled == "true" %}
   <div class="social-media">{% include social-media.html %} {% endif %}</div>
  </div>
 </div>
 {% if site.section %}
 <a class="scroll-section" href="#{{ site.section }}"
  ><svg xmlns="http://www.w3.org/2000/svg" height="34px" viewBox="0 0 24 24" width="34px" fill="#fff">
   <path d="M0 0h24v24H0z" fill="none" />
   <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" /></svg
 ></a>
 {% endif %}
</section>
<section class="work-section">
 <div class="section-title">
  {% if site.section %}
  <p class="background-header" style="margin-bottom: 0; padding-bottom: 0" id="{{ site.section }}" style="background-position: 120% 0">{{ site.section }}</p>
  {% if site.social-media.github_username %} {% if site.data.cards %}
  <span style="font-size: 18px">✨ Note: Hover card to see more! ✨</span>
  {% endif %} {% endif %} {% endif %}
 </div>
 <section class="wrapper">
  {% if site.data.cards %}
  <div class="work-grid">{% include cards.html %}</div>
  <div class="section-title">
   <p class="background-header background-header-padding-top even-more" style="transform: rotate(4deg)" id="code">Want even more?</p>
  </div>
  <div class="cards">{% include projects.html %}</div>
  <a target="_blank" href="https://github.com/{{ site.social-media.github_username }}" rel="noopener" style="background-size: 0">
   <button class="contact-form-btn" style="margin-top: 50px">
    <svg alt="Github logo" class="button-svg github-svg-section" height="20" width="20" fill="#fff" stroke="#fff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
     <path d="M255.968,5.329C114.624,5.329,0,120.401,0,262.353c0,113.536,73.344,209.856,175.104,243.872c12.8,2.368,17.472-5.568,17.472-12.384c0-6.112-0.224-22.272-0.352-43.712c-71.2,15.52-86.24-34.464-86.24-34.464c-11.616-29.696-28.416-37.6-28.416-37.6c-23.264-15.936,1.728-15.616,1.728-15.616c25.696,1.824,39.2,26.496,39.2,26.496c22.848,39.264,59.936,27.936,74.528,21.344c2.304-16.608,8.928-27.936,16.256-34.368c-56.832-6.496-116.608-28.544-116.608-127.008c0-28.064,9.984-51.008,26.368-68.992c-2.656-6.496-11.424-32.64,2.496-68c0,0,21.504-6.912,70.4,26.336c20.416-5.696,42.304-8.544,64.096-8.64c21.728,0.128,43.648,2.944,64.096,8.672c48.864-33.248,70.336-26.336,70.336-26.336c13.952,35.392,5.184,61.504,2.56,68c16.416,17.984,26.304,40.928,26.304,68.992c0,98.72-59.84,120.448-116.864,126.816c9.184,7.936,17.376,23.616,17.376,47.584c0,34.368-0.32,62.08-0.32,70.496c0,6.88,4.608,14.88,17.6,12.352C438.72,472.145,512,375.857,512,262.353C512,120.401,397.376,5.329,255.968,5.329z"></path>
    </svg>
    Want more projects?
   </button>
  </a>
  {% if site.wakatime.enabled == "true" %}
  <div class="section-title">
   <p class="background-header" id="code">Coding stats</p>
  </div>
  <p style="margin-top: 0">{{ site.wakatime.started }} - Current</p>
  <!-- Yea, To current date because 2021 - 2021 looks weird rn XD -->
  <figure class="wakatime">
   <embed src="{{ site.wakatime.embed }}" />
  </figure>
  <a target="_blank" href="{{ site.wakatime.link }}" rel="noopener" style="background-size: 0">
   <button class="contact-form-btn" style="margin-top: 50px">
    <svg alt="External Link" class="button-svg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 20 20" width="24px" fill="#FFFFFF">
     <path d="M0 0h24v24H0z" fill="none"></path>
     <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path>
    </svg>
    View more stats!
   </button>
  </a>
  {% endif %} {% endif %} {% if site.form.enabled == "true" %} {% include form.html %} {% endif %}
 </section>
</section>
