<div class="card card-{{ card.id }}" data-effect="{{ card.effect }}">
<div  class="card-image">
<img src="{{ card.background }}" alt="{{ card.background-alt }}">
</div>
<div class="card-body">
<h3 class="card-name">{{ card.title }}</h3>
<p class="card-tech">{{ card.technology }}</p>
<p class="card-bio">{{ card.description }}</p>
</div>
<div class="card-footer">
<p class="card-link">
{% if card.url %}
<a class="link" href="{{ card.url }}">Visit website</a>
{% endif %}
{% if card.git and site.github_username %}
<a class="link" target="_blank" rel="noopener" href="https://github.com/{{ site.github_username }}/{{ card.git }}">Check Code</a>
{% endif %}
</p>
</div>
</div>
<div class="svg-card svg-{{card.id}}">
<img src="{{ card.second-background }}" alt="{{ card.second-background-alt }}" {% if card.second-background-class %}class="{{ card.second-background-class }}"{% endif %}/>
</div>