<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="canonical" href="{{ site.url || site.host }}{{ page.url | replace:'index.html','' | remove: ".html" }}"> {% if site.mobile != "false" %}
<meta name="copyright" content="(c) Copyright {{ site.author }} {{ site.first-lauch }} to Present" />
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="375" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="#fff" />
<meta http-equiv="cleartype" content="on" />
{% endif %}
<meta name="theme-color" content="#fff" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %} {{ site.title }}{% endif %}" />
<meta property="og:url" content="{{ site.url || site.host }}{{ page.url | remove: ".html" }}">
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description || "No Description" }}{% endif %}"> {% if page.image %}<meta property="og:image" content="{{ site.url || site.host }}{{ site.baseurl }}/lib/pics/thumbs/{{ page.image }}" />{% endif %} {% if page.image %<meta name="twitter:image" content="{{ site.url || site.host }}{{ site.baseurl }}/lib/pics/thumbs/{{ page.image }}" />{% else %}<meta name="twitter:image" content="{{ site.url || site.host }}{{ site.baseurl }}/lib/favicon/favicon.jpg" />{% endif %}
<meta name="twitter:card" content="summary" />
{% if site.social-media.twitter %}<meta name="twitter:site" content="{{ site.social-media.twitter }}" />{% endif %} {% if site.social-media.twitter %}<meta name="twitter:creator" content="{{ site.social-media.twitter }}" />{% endif %} <meta name="twitter:url" content="{{ site.url || site.host }}{{ page.url | remove: ".html" }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %} {{ site.title }}{% endif %}" />
{% if page.description %} <meta name="twitter:description" content="{{ page.description || "No Description" }}"> {% else %} <meta name="twitter:description" content="{{ site.description || "No Description" }}"> {% endif %}
