.prose .anchor {
 @apply invisible absolute -ml-[1em] w-4/5 max-w-2xl cursor-pointer pr-[0.5em] no-underline opacity-0 duration-200 motion-reduce:transition-none;
}

.anchor:hover {
 @apply visible opacity-100;
}

.prose *:hover > .anchor {
 @apply visible opacity-100;
}

.prose .anchor:after {
 @apply text-slate-300 dark:text-neutral-700;
 content: "#";
}

.prose pre {
 @apply border border-slate-200 bg-slate-50 dark:border-neutral-800 dark:bg-[#161617];
}

.prose strong {
 @apply text-inherit;
}

blockquote p::after,
blockquote p::before {
 @apply !content-none;
}

blockquote {
 @apply !border-l-slate-300 !not-italic !text-slate-500 dark:!border-l-neutral-800 dark:!text-slate-400;
}

.prose img {
 @apply m-0;
}

.prose > :first-child {
 margin-top: 1rem !important;
}

pre::-webkit-scrollbar {
 display: none;
}

pre {
 -ms-overflow-style: none;
 scrollbar-width: none;
}

.prose a {
 @apply font-semibold !decoration-current !decoration-1;
}

[data-rehype-pretty-code-fragment] code {
 @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
 counter-reset: line;
 box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
 @apply py-1;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
 counter-increment: line;
 content: counter(line);
 display: inline-block;
 width: 1rem;
 margin-right: 1rem;
 text-align: right;
 color: gray;
}

[data-highlighted-line] {
 @apply right-0 rounded-md bg-slate-500/10 py-1;
}

[data-highlighted-chars] {
 @apply rounded-md bg-slate-500 bg-opacity-10 p-1;
}

[data-rehype-pretty-code-title] {
 @apply rounded-t-lg border border-slate-200 bg-slate-100 px-4 py-1 font-mono font-semibold text-neutral-900 dark:border-neutral-800 dark:bg-[#1c1c1c] dark:text-neutral-200;
}

[data-rehype-pretty-code-title] + pre {
 @apply mt-0 rounded-t-none border-t-0;
}
