@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
 @apply m-0 scroll-smooth p-0 antialiased transition-[background-color] motion-reduce:transition-none duration-300;
}

* {
 @apply box-border;
 scrollbar-color: #08152b transparent;
 scrollbar-width: thin;
}

::-webkit-scrollbar {
 @apply w-[10px];
}

::-webkit-scrollbar-track {
 @apply bg-[#040d21];
}

::-webkit-scrollbar-thumb {
 @apply bg-[#1f2532];
}

::-webkit-scrollbar-thumb:hover {
 @apply bg-[#292f3d];
}

::-webkit-scrollbar-thumb:active {
 @apply bg-[#343b4a];
}

.arrow .arrowSymbol path:last-child {
 @apply motion-reduce:transition-none motion-reduce:!duration-[0ms];
 stroke-dasharray: 10;
 stroke-dashoffset: 10;
 transition: stroke-dashoffset 200ms;
}

.arrow:hover .arrowSymbol path:last-child {
 @apply motion-reduce:transition-none;
 stroke-dashoffset: 20;
}

.animatedLink {
 @apply relative inline-block;
}

.animatedLink:hover::after,
.animatedLink:active::after {
 @apply scale-x-100 motion-reduce:transition-none;
}

.animatedLink::after,
.animatedLink::before {
 @apply transition-[transform] motion-reduce:transition-none duration-200 ease-in pointer-events-none absolute bottom-[-0.15em] left-0 h-[2px] w-[calc(100%_-_1em)] origin-[0_0] scale-x-0 bg-current content-[""];
}

.animatedLink::before {
 @apply scale-x-100 opacity-20;
}

img.twemoji {
 @apply relative top-[-0.1rem] inline-block h-[1em] align-middle;
}

.burger svg[data-hide="true"] {
 @apply -translate-y-1/2 -translate-x-1/2 scale-0 opacity-0;
}

.menuRendered {
 @apply opacity-100;
}

.menuRendered p {
 @apply w-full translate-x-0 border-gray-200 opacity-100 dark:border-gray-600;
}
