@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --hidden: false;
}

* {
 @apply box-border outline-2 outline-offset-4 outline-[#4d67ff] dark:outline-[#1491ff];
 scrollbar-color: #161617 transparent;
 scrollbar-width: thin;
}

html,
body {
 @apply scroll-smooth;
}

html {
 @apply !pr-0;
}

body[data-scroll-locked] {
 @apply mr-0 !px-6;
}

.hide-scrollbar::-webkit-scrollbar {
 @apply hidden;
}

.hide-scrollbar {
 scrollbar-width: none;
}

::selection {
 @apply bg-neutral-800 !text-white;
}

[data-vaul-handle] {
 @apply !absolute right-0 top-1/2 -translate-y-1/2 rotate-90;
}

.noise {
 @apply bg-repeat;
 opacity: 0.02;
 background-image: url(/assets/noise.png);
 background-size: 182px;
 display: var(--hidden);
}

.color-rays {
 @apply pointer-events-none absolute inset-0 animate-rays bg-no-repeat opacity-30;
 background-size: 1589px 383px;
 background-position: calc(50% - 35px) top;
 filter: hue-rotate(540deg) saturate(7.3);
 background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAYCAYAAACfpi8JAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAUHSURBVHgB7VbLbiNVEK26j2637W6HeYRMCDAgRrBhN2LNH8AmKz4Gz3ewYZ/l/EAkxAqQENIskIIQMMSJnThxd7udvo8qqj0gIZhMRh6xoyQv7L6+fW6dR12EfxTfu9d3VfU2GfMQmD/AnAf8UXIJn9mWP7RbpRqmXy0eXn4x3W+/r9/fCiX0sqO6zH8oyS5aRYy/sPPfxiT89OPXn1TwkqX+9ctk4gVEgzEuFPMKPCCcR8tTYHTsU+XxbnJud5MT1tp5NgppkBjqG2ClEAkGBnU+tEUKY1abAwGgXgiNvKWUjTsghAuweEwKVuwNe76tS7uXTjHXrccEOA60CblmMt2ONCCAoiWXfXx4+GpALqx1mrmUjlQQ0UMt5z4RICUHTRxzuzR7vRO9hWUA5ECZNn6oFVtNgNqqRBWqoX7bzixsCgRFJq+NRq0lqoMAQcSWGtA0ZavOKSKx63Gjd83U3skuojHko5Xneao5EeiIcgYoWKvhjIb22ZabdQTg/v0wD2ElD0sRbKM8MZzJ646l6V50Yjzc0Qv7lpmA1d5haqRNKPRYRkUaGIQeLvor3RuPeXMgjw4PyRqzYqFHTrhSUYlOyNJE1tfgLXsamTLZszOVYx1IvEJ9bWigkTRKQzhTGgo/DNnjx99p2BTIWHSSp2kbicquKzGygwYNnEQDlxRNZNFmrfeSibltyqCs0NOT3uQGOdUkdCYsgsWIA4Djl9LJ9are2nJG6yV3gmVuYSXnPhWdnBEhg+sbp3Z6M7OTzskqaZEVv6x1Ypg1alSqEOHmMc8Tkd2N9FwP5OgoxiRp/qIHnMTEHCz9RkgrDNIE0Ulpd/TvmK1tLGjWOtHc7SoE9ZWI1i2ht79/cKONr13wSOgJzl3RMxvXEDBgHTsbI1TRW0m8kansO4MzHGDlQWIEUm2D6ETMLu5RqWil0Bz6T57AjTq5FshYgBRZ1mpjKgm2Sjj3VIOhCVu4AIJIIVeNvmcmdttekJKki5lWfitRZIU85AQVjsDCALYhgU2BrOv01K+Imk6w67hvZb3YWE1j1IFdgq3elrjfsefiMnIxMSjRoePAyshBBfKN2BfQ7nU6UZsDAYgmhGVHT+xs7EWol3LGCSuSuE8wUqeTN9MToWcZJNYg9pUNQwO01gn0haLcwnm2v//iYLsJCHlr23XcgyQIr+NegDyLe1ERDfXSdnFf6MYLPbGL+zgUUv7UiczBkSPofzP70m4MpIv7JsscW1uvdULinUZsfCJg5kQyd1yuG/WGnZk7dk5Gk+OeUlSkKkqerG3MqkClh6m/9cK4v9FWu921IMYGQ1jI4ka1Ysoz0jzlKHHvUmnSLT3Xr+tZ1DoKaPHJQKmQdQNQCjAzUQ3RDxIYjzcHIn+O62sBwKV85tL8C3XFlToXkppYJhAvRqapt9Oy7mNbik4WIVU1i2jExkuZOXJnkag1Ue8/+fxaIOYmHDge0/Tu3VVxdSVXI/5ZrgXn0LCHKji46vUEWJKhb3NYuoFq0kUiJ1cqdjZi4w0oySClLpSqHcABbAykq7uzWVsWxSxBdI4oYcIoIUEhkJXUQiuZEpTMXNsa6yyCvQIZy4w6ajLBZVV6udhOVwcHn9IrAZEKxYMH1dPT09Xe06dw5IDe292GXu9KHVct6tspLX4d8bzuydA1YIY5+7Mab8nVKYeKDt+deTjYp7Wh/4uSef93zp/D/8vdRf6v59UfVa30WE6TYdgAAAAASUVORK5CYII=");
}
