@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
 padding: 0;
 margin: 0;
 scroll-behavior: smooth;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

@supports not (backdrop-filter: none) {
 nav {
  backdrop-filter: none;
  @apply bg-opacity-100;
 }
}

* {
 box-sizing: border-box;
 scrollbar-color: #08152b transparent;
 scrollbar-width: thin;
}

::-webkit-scrollbar {
 width: 10px;
}

::-webkit-scrollbar-track {
 background: #040d21;
}

::-webkit-scrollbar-thumb {
 background: #1f2532;
}

::-webkit-scrollbar-thumb:hover {
 background: #292f3d;
}

::-webkit-scrollbar-thumb:active {
 background: #343b4a;
}
