@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
 padding: 0;
 margin: 0;
 scroll-behavior: smooth;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 transition: 300ms background-color;
}

@supports not (backdrop-filter: none) {
 nav {
  backdrop-filter: none;
  @apply bg-opacity-100;
 }
}

* {
 box-sizing: border-box;
 scrollbar-color: #08152b transparent;
 scrollbar-width: thin;
}

::-webkit-scrollbar {
 width: 10px;
}

::-webkit-scrollbar-track {
 background: #040d21;
}

::-webkit-scrollbar-thumb {
 background: #1f2532;
}

::-webkit-scrollbar-thumb:hover {
 background: #292f3d;
}

::-webkit-scrollbar-thumb:active {
 background: #343b4a;
}

.arrow .arrowSymbol path:last-child {
 stroke-dasharray: 10;
 stroke-dashoffset: 10;
 transition: stroke-dashoffset 200ms;
}

.arrow:hover .arrowSymbol path:last-child {
 stroke-dashoffset: 20;
}

.animatedLink {
 display: inline-block;
 position: relative;
}

.animatedLink:hover::after, .animatedLink:active::after {
 transform: scaleX(1);
}

.animatedLink::after, .animatedLink::before {
 transition: transform .3s ease;
}


.animatedLink::after, .animatedLink::before {
 position: absolute;
 bottom: -0.15em;
 left: 0;
 width: calc(100% - 1em);
 height: 2px;
 pointer-events: none;
 content: "";
 background-color: currentColor;
 transform: scaleX(0);
 transform-origin: 0 0;
}

.animatedLink::before {
 opacity: .2;
 transform: scaleX(1);
}
